@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;400&family=Montserrat:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;400&family=Lora:wght@400;500&family=Montserrat:wght@300;400;500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --background-color: #181719;
}

* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.mobile-navigation {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  z-index: 3;
  padding: 24px;
  font-family: "Montserrat", sans-serif;
  color: white;

  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

.mobile-navigation__opened {
  transform: translateX(0);
}

.mobile-navigation-header {
  display: block;
  text-align: right;
  margin-bottom: 30px;
}

.mobile-navigation-header button {
  background-color: transparent;
  border: 0;
}

.mobile-navigation-header .fa {
  font-weight: 500;
  font-size: 2rem;
}

.mobile-navigation-menu {
  display: grid;
  grid-template-rows: repeat(4, 15%);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navigation-menu-item {
  display: block;
  margin: 30px;
  font-weight: 500;
  font-size: 1.125rem;
  text-decoration: none;
}

.navigation-menu-item__selected {
  font-weight: 700;
  padding: 10px;
  border-bottom: 2px solid #fff;
}

#container {
  margin: 0 auto;
  padding: 40px 60px 0 60px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
  color: white;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.current-interior {
  margin: 0;
  padding: 10px;
  border: 1px solid #fff;
  font-family: "Crimson Pro", serif;
  text-transform: uppercase;
}

.heading-menu {
  display: flex;
  flex: 0.5;
  justify-content: space-evenly;
  align-items: center;
}

.heading-menu-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

.heading-menu-item__selected {
  font-weight: bold;
  padding: 5px;
  border-bottom: 2px solid #fff;
}

.collapse-navigation {
  display: none;
}

.interior-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.interior-description {
  display: block;
  margin: auto;
  padding: 20px;
}

.interior-title {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 3rem;
  margin: 0;
  margin-bottom: 30px;
}

.interior-description p {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 30px;
}

.read-more-link {
  font-weight: bold;
  font-size: 1.125rem;
  text-decoration: none;
  align-items: center;
}

.interior-details {
  display: block;
  margin-top: 60px;
}

.interior-photo {
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.interior-photo img {
  width: 100%;
  display: block;
  margin-top: auto;
}

.interior-author {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 60%;

  position: relative;
  z-index: 2;
  bottom: 100px;
  left: 35%;
  background-color: var(--background-color);
  box-shadow: 0 3px rgba(0, 0, 0, 0.25);
}

.interior-author h1 {
  font-family: "Lora", serif;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0;
  margin-left: 16px;
  padding-bottom: 30px;
}

.interior-author-profile {
  display: block;
}

.author-information {
  display: flex;
  align-items: center;
}

.author-description {
  font-weight: 500;
  align-items: center;
}

.author-description h1 {
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.author-description p {
  font-size: 0.75rem;
  color: #828282;
  padding: 0;
  margin: 0;
}

.author-photo {
  border-radius: 100px;
  height: 14vh;
  padding: 20px;
}

footer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 660px) {
  #container {
    padding: 20px;
  }

  .mobile-navigation {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .heading-menu {
    display: none;
  }

  .collapse-navigation {
    display: block;
    font-size: 2rem;
    background-color: transparent;
    border: none;
  }

  .interior-content {
    display: block;
  }

  .interior-description {
    padding: 0;
  }

  .interior-title {
    font-size: 2.75rem;
    margin-bottom: 30px;
  }

  .interior-description p {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }

  .interior-details {
    margin-top: 30px;
  }

  .interior-author {
    bottom: 70px;
    left: 15%;
    max-width: 82%;
  }

  .author-photo {
    border-radius: 100px;
    height: 12vh;
    padding: 16px;
  }
}
